
#login {
    background-color: white;
    margin: 130px 0px 0px 0px;
    width: 30%;
    height: auto;
    box-shadow: 11px 11px 8px;
    border-radius: 5px;
}

#logintitle {
    font-size: 50px;
    color: rgb(33, 119, 41);
    text-shadow: 3px 3px 1px grey;
}

#resetpasstitle {
    font-size: 30px;
    color: rgb(33, 119, 41);
    text-shadow: 3px 3px 1px grey;
}

#loginitem {
    width: 93%;
}

#loginbtn {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}

#resend_otp {
    font-size: 14px;
    height: 24px;
    color: brown;
    font-weight: 600;
    background: white;
}

input.OTPinput {
    max-width: 35%;
    max-height: 45px;
}