
#register {
    background-color: white;
    margin: 60px 0px 0px 0px;
    width: 35%;
    height: auto;
    box-shadow: 11px 11px 8px;
    border-radius: 5px;
}

#regtitle { 
    margin: 20px 40px 40px 0;
    font-size: 50px;
    color: rgb(40, 146, 114);
    text-shadow: 5px 5px 2px black;
}

#fullwidthinput {
    width: 90%;
}

#smallInput {
    width:12rem;
    
}

#resend_otp {
    font-size: 14px;
    height: 24px;
    margin-top: 14px;
    color: brown;
    font-weight: 600;
    background: white;
}

#regbtn {
    width:12rem;
}
